node_modules/
.env
*.log
.wwebjs_auth*/
.wwebjs_cache/
test_auth/
*.sqlite
*.db
__pycache__/
qr.png
sessions.json
eng.traineddata
Master_Passports.xlsx
passport_ocr_master_clean.py
uploads/
itineraries/
